<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
    <div class="row">
      <div class="col-sm-12 mainText">
        <h1 class="header">Contact Us</h1>
        <h4>
          <div class="col-sm-12 mainText">Before contacting us with questions, please check out the <a ng-href="#/faqs">FAQs</a> or <a ng-href="#/about">About Us</a> pages. Many questions have already
            been answered there!
          </div>
        </h4>
      </div>
      <br>
      <div class="col-sm-12">
        <h2 class="header">Contact By E-Mail</h2>

        <h4>
          <div class="col-sm-12 mainText"><p>Please e-mail your questions, comments, or suggestions to: </p>
            <section>
              <p>Erik Hoggard <a href="mailto:eahoggar@oakland.edu" target="_top">eahoggar@oakland.edu</a></p>
              <p>Steven Nguyen <a href="mailto:snguyen@oakland.edu" target="_top">snguyen@oakland.edu</a></p>
              <p>Youmin Zheng <a href="mailto:ymzheng@oakland.edu" target="_top">ymzheng@oakland.edu</a></p>
              <p>Nathan Muccino <a href="mailto:ndmuccino@oakland.edu" target="_top">ndmuccino@oakland.edu</a></p>
              <p>Eric Dolley <a href="mailto:ecdolley@oakland.edu" target="_top">ecdolley@oakland.edu</a></p>
            </section>
          </div>
        </h4>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="header">Contact Us by Phone</h2>
        <h4>
          <div class="col-sm-12 mainText"> <p>You can reach us through phone on the following days...</p>
            <section id="contactInfo">
              <p>Monday~Friday</p>
              <p>10:00 A.M. ~ 11:00 A.M.</p>
              <p>Phone: (248)-370-2248</p>
            </section>
          </div>
        </h4>
      </div>
      <br>
    </div>




  </div>
</div>
</div>
