<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
      <div class="home">
        <div class="jumbotron">
          <h1>Thank You for using PoolBoy!</h1>
          <div class="sfontcolor">
          <p> <h3>Come back soon!!</h3></p>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
<script>
  setTimeout(function(){
    window.location="#/main";
  }, 3000);
</script>
