<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->
      <div class="home">
          <div class="jumbotron">
            <p class="col-sm-12 col-md-12 col-lg-12"><img src=images/logo.png width="275" height="250" alt="Logo"></p>
            <h1>Welcome {{user.first_name}}!</h1>
            <p>Come check out any new <a ng-href="#/searchtournaments">Tournaments!</a> Or edit your <a ng-href="#/editprofile">Profile Page</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


