<div ng-include src="'views/header.html'"></div>
<div class="wideBackground" ng-controller="MoreprofilesCtrl">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <body class="col-lg-12">

    <section>

      <div class="mainText">
        <div class="col-lg-12 sfontcolor"><h2><center>More Profiles</center></h2></div>
        <div class="floated_img">
          <a href="/#/playerprofile/Bjergsen"><img src=images/profile_1.jpg width="224" height="157" alt="Profile Image"></a>
          <p><center>Bjergsen</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/EDolley"><img src="http://i.imgur.com/imzODLz.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>EDolley</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Combs"><img src="http://i.imgur.com/W0Rjtao.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Combs</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/king_s_24"><img src="https://static-resource.np.community.playstation.net/avatar_m/3RD/UP10631304009_F8B1013369E7CD6B7587_M.png" width="224" height="157" alt="Profile Image"></a>
          <p><center>king_s_24</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Azori"><img src="http://i.imgur.com/X2lDfCr.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Azori</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/NateBroChill"><img src="http://i.imgur.com/lYyRehw.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>NateBroChill</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Faker"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Faker</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/ToSsGirl"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>ToSsGirl</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/lurppis"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>lurppis</center></p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile/xPeke"><img src="http://i.imgur.com/iGJfK2h.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>xPeke</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Pasha"><img src="http://i.imgur.com/0PkYCbI.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Pasha</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Westdoor"><img src="http://i.imgur.com/NCJRRkc.png" width="224" height="157" alt="Profile Image"></a>
          <p><center>Westdoor</center></p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile/Doublelift"><img src="http://i.imgur.com/OxGpuk3.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Doublelift</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/QXC"><img src="http://i.imgur.com/lTAsrh9.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>QXC</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/brTT"><img src="http://i.imgur.com/PJDtrPC.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>brTT</center></p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/ZEuwbBi.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Alex Ich</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Taz"><img src="http://i.imgur.com/omSz4gH.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Taz</center></p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile/Puppey"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p><center>Puppey</center></p>
        </div>


        <div class="row playerGrid container-fluid">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-shutterOut col-sm-11" ng-click="gotoPlayerSearch()">Back</button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-shutterOut col-sm-11" ng-click="gotoSearchTournament()">Search Tournaments</button>
          </div>
        </div>
      </div>
    </section>
    </body>

    <footer>
      <div ng-include src="'views/footer.html'"></div>
    </footer>

  </div>
</div>

