<div ng-include src="'views/header.html'"></div>
<div class="wideBackground" ng-controller="MoreprofilesCtrl">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <body class="col-lg-12">

    <section>

      <div class="mainText">
        <div class="col-lg-12 sfontcolor"><h3>Top Profiles</h3></div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src=images/profile_1.jpg width="224" height="157" alt="Profile Image"></a>
          <p>Bjergsen</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/imzODLz.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>EDolley</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/W0Rjtao.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>EKHoggard</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/s0WYskZ.png" width="224" height="157" alt="Profile Image"></a>
          <p>king_s_24</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/X2lDfCr.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>Sagimoto</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/nk4OIS9.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>FlyNest</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>Faker</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>ToSsGirl</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>lurppis</p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>Faker</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>ToSsGirl</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>lurppis</p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>Faker</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>ToSsGirl</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>lurppis</p>
        </div>

        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>Faker</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>ToSsGirl</p>
        </div>
        <div class="floated_img">
          <a href="/#/playerprofile"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
          <p>lurppis</p>
        </div>


        <div class="row playerGrid container-fluid">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-shutterOut col-sm-11" ng-click="gotoPlayerSearch()">Back</button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-shutterOut col-sm-11" ng-click="gotoSearchTournament()">Search Tournaments</button>
          </div>
        </div>
    </section>



    </body>
  </div>
</div>

