<div ng-include src="'views/header.html'"></div>
<div class="container">
  <div class="mainText">

    <div class="col-sm-4 col-md-4 col-lg-4" >
    <h2>Pool 1</h2>
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Seed</th>
        <th>Tag</th>
        <th>Crew</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Doe</td>
        <td>rekerz</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Moe</td>
        <td>rekerz</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Dooley</td>
        <td>swolesquad</td>
      </tr>
      </tbody>
    </table>
      </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
      <h2>Pool 1</h2>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>Seed</th>
          <th>Tag</th>
          <th>Crew</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Doe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Moe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Dooley</td>
          <td>swolesquad</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3" >
      <h2>Pool 1</h2>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>Seed</th>
          <th>Tag</th>
          <th>Crew</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Doe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Moe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Dooley</td>
          <td>swolesquad</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3" >
      <h2>Pool 1</h2>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>Seed</th>
          <th>Tag</th>
          <th>Crew</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Doe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Moe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Dooley</td>
          <td>swolesquad</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3" >
      <h2>Pool 1</h2>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th>Seed</th>
          <th>Tag</th>
          <th>Crew</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Doe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Moe</td>
          <td>rekerz</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Dooley</td>
          <td>swolesquad</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
