<div ng-include src="'views/header.html'"></div>
<div class="wideBackground" ng-controller="PlayersearchCtrl">
  <div class="container">
    <div class="registration">
      <div class="mainText">
        <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Player Search</h2>
        <body class="col-lg-12">
        <form name="searchform" ng-submit="search()">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" class="form-control" ng-model="search_string" name="gamerTag">
            </div>
          </div>


          <div class="col-sm-12">
            <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
          </div>
        </form>



        <section>
          <div class="container" ng-show = "players.length > 0" >
            <div class="row">
              <div class="col-md-6" ng-repeat="player in players">
                <div class="media">
                  <div class="container">
                    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Pool 1</h2>
                    <table class="table-bordered">
                      <thead>
                      <tr>
                        <th><h4 class ="text-center">Seed</h4></th>
                        <th><h4 class ="text-center">Player</h4></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  ng-repeat="player in players">
                        <td class="text-center">X</td>
                        <td><h4 class="text-center">{{player.gamerTag}}</h4></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        </body>
      </div>
    </div>
  </div>
</div>
