<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Player Search</h2>
      <body class="col-lg-12">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="form-control" name="gamerTag" placeholder="Gamer Tag" ng-model="user.gamerTag">

        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="user.firstName">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="user.lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="game" placeholder="Game" ng-model="user.game">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="platform" placeholder="Platform" ng-model="user.platform">
          </div>
        </div>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
        </div>
      </div>

      <section>
        <div class="mainText">
          <div class="col-lg-12 sfontcolor"><h3>Top Profiles</h3></div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src=images/profile_1.jpg width="224" height="157" alt="Profile Image"></a>
              <p>Bjergsen</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/imzODLz.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>EDolley</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/W0Rjtao.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>EKHoggard</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/s0WYskZ.png" width="224" height="157" alt="Profile Image"></a>
              <p>king_s_24</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/X2lDfCr.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>Sagimot</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/nk4OIS9.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>Poopstick</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/xLHsZqs.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>Faker</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/9NL6oBe.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>ToSsGirl</p>
            </div>
            <div class="floated_img">
              <a href="/#/playerprofile"><img src="http://i.imgur.com/bQCeHhN.jpg" width="224" height="157" alt="Profile Image"></a>
              <p>lurppis</p>
            </div>



          <div class="row playerGrid container-fluid">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button type="submit" class="btn btn-shutterOut col-sm-11" name="submit" id="button-submit">More Profiles</button>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button class="btn btn-shutterOut col-sm-11" ng-click="gotoSearchTournament()">Search Tournaments</button>
            </div>
          </div>
        </div>
      </section>


      </body>
  </div>
</div>

