<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid col-sm-12 col-md-12 col-lg-12">Player Search</h2>
      <body class="col-lg-12">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <input type="text" class="form-control" name="gamerTag" placeholder="Gamer Tag" ng-model="user.gamerTag">

        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="user.firstName">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="user.lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="game" placeholder="Game" ng-model="user.game">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="platform" placeholder="Platform" ng-model="user.platform">
          </div>
        </div>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Search</button>
        </div>
      </div>

      <section>
        <div class="col-lg-12 sfontcolor"><h3>Top Profiles</h3></div>
        <div class="floated_img">
        <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
        <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>
        <div class="floated_img">
          <img src=images/profile_1.jpg width="224" height="157" alt="Profile Image">
          <p>Bjergsen-League of Legends</p>
        </div>

        <div class="row playerGrid container-fluid">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button type="submit" class="btn btn-shutterOut col-sm-11" name="submit" id="button-submit">More Profiles</button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-shutterOut col-sm-11"><a ng-href="#/searchtournaments">Search Tournaments</a></button>
          </div>
        </div>

      </section>


      </body>
  </div>
</div>

