<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">-->

    <div class="registration">
      <div class="row">
        <div class="col-sm-12">
          <h1>Register to Play!</h1>
        </div>
      </div>
      <br>
      <form name="registerForm" ng-init="user = {}" ng-submit="register()">

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-model="err.first_name" ng-class="{true: 'has-error'} [err.first_name && !registerForm.first_name.$dirty]">
              <input type="text" class="form-control" name="first_name" placeholder="First Name" ng-model="user.first_name">
              <span class="help-block" ng-show="[err.first_name]">{{err.first_name}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-model="err.last_name" ng-class="{true: 'has-error'}[err.last_name  && !registerForm.last_name.$dirty]">
              <input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-model="user.last_name">
              <span class="help-block" ng-show="[err.last_name]">{{err.last_name}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-model="err.gamerTag" ng-class="{true:'has-error'} [err.gamerTag && !registerForm.gamerTag.$dirty]">
              <input type="text" class="form-control" name="gamerTag" placeholder="Gamer Tag" ng-model="user.gamerTag">
              <span class="help-block" ng-show="[err.gamerTag]">{{err.gamerTag}}</span>
            </div>
          </div>

            <div class="col-sm-6">
              <div class="form-group" ng-model="err.platform" ng-class="{true:'has-error'} [err.platform  && !registerForm.platform.$dirty]">
                <select class="form-control" name="console" id="platform" ng-model="user.platform">
                  <option value="" disabled selected>Platform</option>
                  <option value="PS4">Playstation 4</option>
                  <option value="Xbox">Xbox One</option>
                  <option value="Nintendo">Nintendo</option>
                  <option value="PC">PC</option>
                </select>
                <span class="help-block" ng-show="[err.platform]">{{err.platform}}</span>
              </div>
            </div>
          </div>


        <div class="row">
          <div class="col-sm-2">
            <label>Date of Birth</label>
          </div>
          <div class="col-sm-4">
            <div class="form-group" ng-model="err.dobMonth" ng-class="{true:'has-error'} [err.dobMonth && !registerForm.dobMonth.$dirty]">
              <select class="form-control" name="month" id="dobMonth" ng-model="user.dobMonth">
                <option value="" disabled selected>Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
              <span class="help-block" ng-show="[err.dobMonth]">{{err.dobMonth}}</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group" ng-model="err.dobDay" ng-class="{true:'has-error'} [err.dobDay && !registerForm.dobDay.$dirty]">
              <select class="form-control" name="day" id="dobDay" ng-model="user.dobDay">
                <option value="" disabled selected>Day</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <span class="help-block" ng-show="[err.dobDay]">{{err.dobDay}}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" ng-model="err.dobYear" ng-class="{true:'has-error'} [err.dobYear && !registerForm.dobYear.$dirty]">
              <select class="form-control" name="year" id="year" ng-model="user.dobYear">
                <option value="" disabled selected>Year</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980">1980</option>
                <option value="1979">1979</option>
                <option value="1978">1978</option>
                <option value="1977">1977</option>
                <option value="1976">1976</option>
                <option value="1975">1975</option>
                <option value="1974">1974</option>
                <option value="1973">1973</option>
                <option value="1972">1972</option>
                <option value="1971">1971</option>
                <option value="1970">1970</option>
                <option value="1969">1969</option>
                <option value="1968">1968</option>
                <option value="1967">1967</option>
                <option value="1966">1966</option>
                <option value="1965">1965</option>
                <option value="1964">1964</option>
                <option value="1963">1963</option>
                <option value="1962">1962</option>
                <option value="1961">1961</option>
                <option value="1960">1960</option>
              </select>﻿
              <span class="help-block" ng-show="[err.dobYear]">{{err.dobYear}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group" ng-model="err.address" ng-class="{true:'has-error'} [err.address && !registerForm.address.$dirty]">
              <input type="text" class="form-control" name="address" placeholder="Address" ng-model="user.address">
              <span class="help-block" ng-show="[err.address]">{{err.address}}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" ng-model="err.city" ng-class="{true:'has-error'} [err.city && !registerForm.city.$dirty]">
              <input type="text" class="form-control" name="city" placeholder="City" ng-model="user.city">
              <span class="help-block" ng-show="[err.city]">{{err.city}}</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" ng-model="err.state" ng-class="{true:'has-error'} [err.state && !registerForm.state.$dirty]">
              <select class="form-control" name="state" id="state" ng-model="user.state">
                <option value="" disabled selected>State</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
              </select>
              <span class="help-block" ng-show="[err.state]">{{err.state}}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-model="err.email" ng-class="{true: 'has-error'}[err.email  && !registerForm.email.$dirty]">
              <input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="user.email">
              <span class="help-block" ng-show="[err.email]">{{err.email}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group" ng-model="err.password" ng-class="{true: 'has-error'}[err.password  && !registerForm.password.$dirty]">
              <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password">
              <span class="help-block" ng-show="[err.password]"></span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" ng-model="err.confirm_password" ng-class="{true: 'has-error'}[err.confirm_password  && !registerForm.confirm_password.$dirty]">
              <input type="password" class="form-control" name="confirm_password" placeholder="Re-type Password" ng-model="user.confirm_password">
              <span class="help-block" ng-show="[err.confirm_password]"></span>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
              <input type="hidden" ng-init="user.icon_URL='http://connectwithcharles.com/wp-content/uploads/blank-profile-picture-300x280.jpg'" id="url" class="form-control" name="icon_URL" placeholder="URL" ng-model="user.icon_URL">
            </div>

          <div class="col-sm-2">
              <input type="hidden" class="form-control" name="favGame" placeholder="Favorite Game" ng-model="user.favGame">
            </div>

        <div class="col-sm-2">
          <input type="hidden" class="form-control" name="gameTeam" placeholder="Team Name" ng-model="user.gameTeam">
        </div>
        <div class="col-sm-2">
          <input type="hidden" class="form-control" name="playerBio" placeholder="Biography" ng-model="user.playerBio">
        </div>
          </div>

        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-shutterOut col-sm-12" name="submit" id="button-submit">Submit</button>
          </div>

          <div class="col-sm-6">
            <button type="reset" class="btn btn-shutterOut col-sm-12" name="cancel" id="button-cancel" ng-click="cancelReg()">Cancel</button>
          </div>
        </div>

      </form>
    </div>

    <footer>
      <div ng-include src="'views/footer.html'"></div>
    </footer>

  </div>
</div>

