<div ng-include src="'views/header.html'"></div>
<div class="wideBackground">
  <div class="container">
    <!--<div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">-->
    <h2 class="row header container-fluid">Tournament Profile</h2>
    <div class="pBackground">
      <div class="container-fluid">
        <!--Adds style color to "Player Profile"-->
        <br>

        <section class="row container-fluid">
          <!-- Fetches and displays the player profile image -->
          <p class="col-sm-6 col-md-4 col-lg-4"><img src=images/games/leagueoflegends.PNG width="275" height="175" alt="Game Tournament Logo."></p>
          <section class="col-sm-offset-1 col-sm-5 col-md-5">
            <b class="sfontcolor">Name:</b> LCS Summer Split <br>
            <b class="sfontcolor">Location:</b> California <br>
            <b class="sfontcolor">Platform:</b> PC <br>
            <b class="sfontcolor">Date:</b> 6/2/2016 <br>
            <b class="sfontcolor">Game:</b> League of Legends <br>
            <b class="sfontcolor">Tournament Organizer:</b> Youmin Zheng<br>
          </section>
        </section>

        <section class="col-sm-8 col-md-11 col-lg-11">
          <h3 class="sfontcolor"><b>Tournament Details:</b></h3>
          <p>The LCK victory also granted SKT a place at the Mid-Season Invitational, an event where the winners of each region competed in a
          dress rehearsal of the World Championship to come. The team were undefeated again in the group stage but suffered far more difficulty
          in their semi-final match up against European juggernaut Fnatic. After a narrow 3-2 win they proceeded to the finals where they faced
          the powerhouse from China, Edward Gaming. Having picked up Korean superstar Deft and Faker’s old rival PawN in the offseason, EDG were
          a formidable team, and showed it by taking a 2-1 lead against the Easyhoon edition of SK Telecom. Once Faker was subbed in however,
          the Korean team scored a victory and forced game 5. In this game Faker was baited into picking his legendary Leblanc into a team composition
          purpose-built to counter it, and so SKT struggled. Despite Faker’s best efforts, EDG were victorious and his perfect record on Leblanc was shattered.</p>

          <h3 class="sfontcolor"><b>Tournament Players:</b></h3>
          <table style="width:100%">
            <tr class="header">
              <td>First Name</td>
              <td>Last Name</td>
              <td>Gamer Tag</td>
              <td>Location</td>
              <td>Seed</td>
            </tr>
            <tr>
              <td>Eric</td>
              <td>Dolley</td>
              <td>EDolley</td>
              <td>Michigan</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Steven</td>
              <td>Nguyen</td>
              <td>king_s_24</td>
              <td>California</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Youmin</td>
              <td>Zheng</td>
              <td>Azori</td>
              <td>New York</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Erik</td>
              <td>Hoggard</td>
              <td>Combs</td>
              <td>Flordia</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Soe</td>
              <td>Ji-Soo</td>
              <td>ToSsGirl</td>
              <td>Seoul</td>
              <td>5</td>
            </tr>

          </table>


        </section>
      </div>
    </div>
  </div>

  <footer>
    <div ng-include src="'views/footer.html'"></div>
  </footer>

</div>
